<div class='col-sm-6'>
	<h1><%= gym.name %></h1>

	<form method="POST" action="/following">
		<input hidden type="text" name="name" value="<%= gym.name %>">
		<input hidden type="text" name="address" value="<%= gym.address %>">
		<button class="btn btn-primary" type="submit">Follow</button>
	</form>

	<h3>( <%= gym.address %> )</h3>

	<hr />

	<h3>Followers</h3>
	<div>
		<% users.forEach(function(user) {%>
			<div>
			<a href="/users/<%= user.id %>"><%= user.name %></a>
			</div>
		<% });%>
	</div>
</div>

<div class='col-sm-6'>
	<h3>Reviews</h3>

	<div id='reviews'>
		<% gym.reviews.forEach(function(review) { %>
			<p>"<%= review.content %>" - <%= review.name %></p>
		<% }); %>
	</div>

	<form action='/following/<%= gym.id %>/reviews' method='POST'>
		<textarea placeholder='Type Review...' name='content' cols='40' required></textarea>
		<br>
		<input type='text' placeholder='Name' name='name' required>
		<button type='submit' class='btn btn-outline-success'>Add</button>
	</form>
</div>