<div class='col-sm-4'>
	<h2>Profile</h2>
	<p>name: <%= user.name %></p>
	<p>email: <%= user.email %></p>
	<a href="/">Home</a>
</div>

<div class='col-sm-8'>
	<h3>Post your gym schedule below for other users to see!</h3>
	<% user.schedules.forEach(function(schedule) { %>
		<p><%= schedule.day %> - <%= schedule.time %>
			<a href="/users/<%= user.id %>/schedule/<%= schedule.id %>" type="submit" class="delete">(Delete </a>/
			<a href="/users/<%= user.id %>/schedule/<%= schedule.id %>/edit">Edit)</a>
		</p>
	<% }); %>
	<form action='/users/<%= user.id %>/schedule' method='POST'>
		<input type='text' placeholder='Days (ex: M, W, F)' name='day' required>
		<input type='text' placeholder='Time (ex: 7pm)' name='time' required>
		<button type='submit' class='btn btn-outline-success'>Add</button>
	</form>
</div>